{% extends "/index.html.twig" %}
{% block main %}
	{% if user.role == true %}	
		<h1>Bievenue sur eco-connect application</h1>
	{% else %}
		<main id="dashboard-ctn">
			<h1 class="dashboard-title">Bievenue sur eco-connect application</h1>
			
			{% include "../companyView/companyView.twig" %}
			 <div id="materialModal"   class = "materialsModal">
				{% include "../materials/materialsForm.twig" %}
			 </div>
			
		</main>

	{% endif %}

{% endblock %} 
