<footer>
    <div class="footerReseau">
        <div class="footer-icon">
            <a href="#"><img src="./images/facebook.png" alt="Logo Facebook" width="50"></a>
        </div>
        <p class="copyright">Copyright eco-connect ©</p>
        <div class="footer-icon">
            <a href="#"><img src="./images/inst.jpg" alt="Logo Instagram" width="50"></a>
        </div>
    </div>
</footer>
