<header>
	<div>
		<a href="/"><img src="images/log.png" id="logo" alt="logo"></a>
	</div>
	<nav>
		<ul id="nav-links">
			<li>
				<a href="/home-annuaire">Annuaire</a>
			</li>
			<li>
				<a href="#contact">Nous contacter</a>
			</li>
			<li>
				<a class="btn-connexion" href="/login">Connexion</a>
			</li>
		</ul>
	</nav>
	<div class="burger" id="burger-menu">
		<div></div>
		<div></div>
		<div></div>
	</div>
</header>

<script>
	let burgerMenu = document.getElementById("burger-menu");
let navMenu = document.getElementById("nav-links");

function toggleMenu() {
navMenu.classList.toggle("show");
}
burgerMenu.addEventListener("click", toggleMenu);
</script>
