<!DOCTYPE html>
<html lang="fr">
	<head>
		
		<meta charset="UTF-8">
		<meta name="viewport" content="width=device-width, initial-scale=1">
		<title>Gestionnaire des déchets</title>
		<link href="css/style.css" rel="stylesheet">
		<link href="css/homeForm.css" rel="stylesheet">
		<link href="css/header.css" rel="stylesheet">
		
		
		{% block style %}{% endblock %}
	</head>
	<body>
		 {% block header %}
        {% include "./layouts/header.html.twig" %}
        {% endblock header %}
		
		{% block main %}{% endblock %}
		{% block footer %}
			{% include "./layouts/footer.html.twig" %}
		{% endblock %}
		<script src="/js/script.js"></script>
		{% block script %}{% endblock %}
	</body>
</html>
