{% extends "/index.html.twig" %}
{% block main %}
{% if user.role == true %}
   <h1>Bievenue sur Eco-connect application</h1>
{% else %} 
	<main id="dashboard-ctn">
		<h1>Bievenue sur Eco-connect application</h1>
		{% include "../companyForm/companyForm.twig" %}		
	</main>
{% endif %}
{% endblock %}