
<section class="infos">
<h2 class="second-title"> Besoin d'informations ...<br><span class="text_contact">contactez-nous</span><h2>
</section>

<section class="contact-ctn">
    <div class="formCtn" id="contact">
        <form action="/sendMail" method="post">
            <h2 class="contact-title">Formulaire de contact</h2>
            <div class="input-group">
                <label for="name"></label>
                <input type="text" id="name" name="name" placeholder="Votre Nom" required>
                <label for="email"></label>
                <input type="email" id="email" name="email" placeholder="Votre Email" required>
            </div>
            <div class="input-group">
                <label for="company"></label>
                <input type="text" id="company" name="company" placeholder="Nom de l'Entreprise" required>

                <label for="phone"></label>
                <input type="tel" id="phone" name="phone" placeholder="Numéro de Téléphone" required>
            </div>
            <label for="message"></label>
            <textarea id="message" name="message" placeholder="Votremessage" rows="4" required></textarea>

            <button type="submit">Envoyer</button>
        </form>
    </div>
    <div class="wrapper"></div>

</section>
