
	<main class="home">
		<p>{{ errors.server_error }}</p>
		<div>
		<img src="./images/picture.jpg" alt="" id="bgimg">
		</div>
		<div class ="ocerviewCtn">

			<h3>Eco-connect est une application innovante favorisant l'économie circulaire et les circuits courts. Connectez-vous, identifiez vos besoins de production et découvrez les entreprises locales adaptées, réduisant ainsi votre impact écologique. Intégrez un réseau vertueux en favorisant l'utilisation des déchets comme matières premières.</h3>
			<div class="button-container">
				<button type="button" class="small-button">
					<a href="/signup">Rejoignez-nous</a>

</div>
		
	</div>
		</div>
        
	</main>

