html {
    scroll-behavior: smooth;
}

body {
    background-color: whitesmoke;
}

/*****loginFomr*************************************/

/* Style pour la zone de connexion */
.loginForm {
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100vh;
}

/* Style_pour_formulaire_connexion */
.login-form {
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    background-color: #f9f9f9;
    border-radius: 10px;
    padding: 30px;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
    width: 300px;
}

.login-form h2 {
    text-align: center;
    color: #333;
}

.login-form input[type="email"],
.login-form input[type="password"] {
    width: 100%;
    padding: 10px;
    margin-bottom: 15px;
    border: 1px solid #ccc;
    border-radius: 5px;
}

.error-message {
    color: #ff0000;
    margin-top: -10px;
    margin-bottom: 10px;
    font-size: 14px;
}

.login-form input[type="email"],
.login-form input[type="password"] {
    width: calc(100% - 20px);
    padding: 10px;
    margin-bottom: 15px;
    border: 1px solid #ccc;
    border-radius: 5px;
    box-sizing: border-box;
}

.loginSubmit button {
    width: calc(100% - 20px);
    padding: 10px;
    background-color: #45A049;
    color: #fff;
    border: none;
    border-radius: 5px;
    cursor: pointer;
}

.signupLink a {
    color: #007bff;
    text-decoration: none;
    font-size: 12px;
}

.signupLink {
    font-size: 12px;
}

.signupLink a:hover {
    text-decoration: underline;
}


/* Style_du_formulaire_d'inscription *******************************/
.signupForm {
    max-width: 600px;
    margin: auto;
    padding: 20px;
    border-radius: 5px;
    background-color: #f9f9f9;
    box-shadow: 0 0 10px rgba(132, 48, 48, 0.1);
}

.signupForm h2 {
    text-align: center;
    margin-bottom: 20px;
}

.signupForm label {
    display: block;
    margin-bottom: 5px;
}

.signupForm input[type="text"],
.signupForm input[type="email"],
.signupForm input[type="password"] {
    width: 100%;
    padding: 10px;
    margin-bottom: 10px;
    border: 1px solid #ccc;
    border-radius: 3px;
    box-sizing: border-box;/
}

.signupForm input[type="submit"] {
    width: 100%;
    padding: 10px;
    background-color: #4CAF50;
    color: white;
    border: none;
    border-radius: 3px;
    cursor: pointer;
}

.signupForm input[type="submit"]:hover {
    background-color: #45a049;
}

.mainSignup {
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100vh;
}


.loginLink {
    font-size: 12px;
}

.loginLink a {
    font-size: 12px;
    color: #007bff;
    text-decoration: none;
}

.loginLink a:hover {
    text-decoration: underline;
}

.error-message {
    color: red;
    font-size: 12px;
}

/***dashboard_style***/
li {
    list-style-type: none;
}

li a {
    color: #fff;
    text-decoration: none;
    margin-left: 20px;
    font-weight: bold;
    transition: 0.2s ease-in-out;
}

li a:hover {
    color: #a28787;
}

#logout-btn {
    background-color: rgba(255, 255, 255, 0.2);
    color: #fff;
    padding: 4px 6px 6px 6px;
    border-radius: 6px;
    text-decoration: none;
    transition: 0.2s ease-in-out;
}

#logout-btn:hover {
    color: #3c6d0c;
    background-color: rgba(255, 255, 255, 0.293);
}



/*********CompanyView_css*******/
#delete_icon {
    transition: transform 0.2s;

}

#delete_icon:hover {
    transform: scale(1.2);
}

.container {
    max-width: 800px;
    margin: 20px auto;
    padding: 20px;
    border: 1px solid #ccc;
    border-radius: 8px;
    background-image: url("../images/dark_green.jpg");
    background-size: cover;
    background-position: center;
}

.card {
    background-color: #fff;
    border-radius: 8px;
    padding: 20px;
    margin-top: 20px;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
    backdrop-filter: blur(10px) brightness(1.1);
    background-color: rgba(7, 73, 7, 0.2);

}


.materialsCtn {
    display: flex;
    flex-direction: row;
    justify-content: center;
}

.materialsDetails {
    display: flex;
    flex-direction: row;
    gap: 40px;
    text-align: center;
}

.products {
    border: 5px;
    width: 200px;
    border: solid grey 1px;
    border-radius: 5px;
    overflow: hidden;
}

.needs {
    border: 5px;
    width: 200px;
    border: solid grey 1px;
    border-radius: 5px;
    overflow: hidden;
}

.wastes {
    border: 5px;
    width: 200px;
    border: solid grey 1px;
    border-radius: 5px;
    overflow: hidden;
}

.products-list,
.needs-list,
.waste-list {
    list-style: none;
    padding: 0;
}

.products-list li,
.needs-list li,
.waste-list li {
    margin-bottom: 10px;
    color: whitesmoke;
}

.activity-title {
    font-size: 18px;
    text-align: center;
    color: whitesmoke;
    margin-bottom: 60px;
}

.container h1 {
    color: white;
    text-align: center;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
    backdrop-filter: blur(10px) brightness(1.1);
    background-color: rgba(7, 73, 7, 0.2);
    width: 45%;
    margin-left: auto;
    margin-right: auto;
    border-radius: 5px;
}

.dashboard-title {
    color: #80a044;
    text-align: center;
}


.card-title {
    color: white;
    text-align: center;
}

.card-content {
    margin-top: 10px;

}

.card-content p {
    margin: 5px 0;
}

.card-content strong {
    font-weight: bold;
    color: whitesmoke;
}

.compProducts strong {
    color: whitesmoke;
}

.card-content .activities {
    margin-top: 10px;
}

.card-content .activities h3 {
    margin-bottom: 5px;
}

.evaluations h3 {
    text-align: center;
    color:white;
}

.editBtn {
    border: none;
    border-radius: 5px;
    text-align: center;
    text-decoration: none;
    display: inline-block;
    font-size: 14px;
    transition: background-color 0.3s ease, box-shadow 0.3s ease;
    cursor: pointer;
    transition: transform 0.2s;
}

.editBtn:hover {
    box-shadow: 0 0 15px rgba(0, 0, 0, 0.3);
    transform: scale(1.2);
}
.fas.fa-trash:hover {
    box-shadow: 0 0 15px rgba(0, 0, 0, 0.3);
    transform: scale(1.2);
    transition: transform 0.2s;
}
#dashHouse:hover{
    transform: scale(1.1);
    transition: transform 0.2s; 
}
.fas.fa-trash{
    font-size: 15px;
}
#map {
    height: 500px;
    width: 500px;
    display: none;
}

.addBtn {
    border: none;
    border-radius: 5px;
    padding: 4px 7px;
    text-align: center;
    text-decoration: none;
    display: inline-block;
    font-size: 16px;
    transition: background-color 0.3s ease, box-shadow 0.3s ease;
    cursor: pointer;
}

/* Style pour le tooltip */
.addBtn:hover::after {
    content: "Ajouter matériau";
    
    position: fixed;
   
    background-color: #000;
    color: #fff;
    padding: 5px 10px;
    border-radius: 5px;
    font-size: 14px;
    white-space: nowrap;
    z-index: 9999;
   
    top: calc(var(--y, 0) - 30px);
   
    left: calc(var(--x, 0) - 50%);
   
    transform: translateX(10%);
    
    transition: opacity 0.3s ease;

}

.addBtn:hover {
    background-color: #3c6d0c;
    box-shadow: 0 0 15px rgba(0, 0, 0, 0.3);
}

.info-company {
    color: white;
    text-align: center;
}


/*****materials_modal***/

.materialsModal {
    display: none;
    position: fixed;
    left: 50%;
    top: 50%;
    transform: translate(-50%, -50%);
    padding: 0 50px 20px 50px;
    border-radius: 20px;
    backdrop-filter: blur(10px);
    background-color: rgba(21, 10, 10, 0.659);
}

.open {
    display: block !important;
}

#materialForm {
    max-width: 500px;
    margin: 0 auto;
}

.form-container h2 {
    color: white;
}

#materialForm label {
    display: block;
    margin-bottom: 5px;
    font-weight: bold;
    color: white;
}

#materialForm input[type="text"],
#materialForm input[type="number"],
#materialForm textarea {
    width: 100%;
    padding: 10px;
    margin-bottom: 15px;
    border: 1px solid #ccc;
    border-radius: 5px;
    box-sizing: border-box;
    font-family: 'Roboto', sans-serif;
    resize: none;
}

#materialForm .error-message {
    color: red;
    margin-top: 5px;
}

#materialForm button[type="submit"] {
    background-color: #007bff;
    color: #fff;
    padding: 10px 20px;
    border: none;
    border-radius: 5px;
    cursor: pointer;
    font-size: 16px;
}

#materialForm button[type="submit"]:hover {
    background-color: #0056b3;
}

/*****Review_modal***/


.ReviewModal {
    display: none;
    position: fixed;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    background-color: #f9f9f9;
    padding: 20px;
    width: 80%;
    max-width: 400px;
    border-radius: 8px;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
    z-index: 9999;
}

.close {
    color: #838383;
    float: right;
    font-size: 28px;
    font-weight: bold;
}

.close:hover,
.close:focus {
    color: red;
    text-decoration: none;
    cursor: pointer;
}




.remove {
    color: #aaa;
    float: right;
    font-size: 28px;
    font-weight: bold;
}

.remove:hover,
.remove:focus {
    color: red;
    text-decoration: none;
    cursor: pointer;
}




.review-ctn {
    max-width: 400px;
    margin: 0 auto;
    padding: 20px;
    background-color: #f9f9f9;
    border-radius: 8px;
}


.review-ctn label {
    display: block;
    margin-bottom: 8px;
    font-weight: bold;
}


.review-ctn input[type="number"],
.review-ctn textarea,
.review-ctn input[type="date"] {
    width: 100%;
    padding: 10px;
    margin-bottom: 20px;
    border: 1px solid #ccc;
    border-radius: 4px;
    box-sizing: border-box;
    font-family: 'Roboto', sans-serif;
    resize: none;
}

.review-ctn button {
    background-color: #4caf50;
    color: white;
    padding: 10px 20px;
    border: none;
    border-radius: 4px;
    cursor: pointer;
}

.review-ctn button:hover {
    background-color: #45a049;
}

.review-ctn .error-message {
    color: red;
    font-size: 0.9em;
    margin-top: 5px;
}

.review-ctn .success-message {
    color: green;
    font-size: 0.9em;
    margin-top: 5px;
}

.annuaire-star .star {
    pointer-events: none;  
}

.star-rating {
    font-size: 30px;
}

.star-rating .star {
    cursor: pointer;
    color: #ccc;
}

.star-rating .star:hover,
.star-rating .star.active {
    color: #ffac00;
}

.star-rating {
    display: flex;
    flex-direction: row-reverse;
}

.star-rating .star:hover~.star,
.star-rating .star.active~.star {
    color: #ffac00;
}



/* Style option for select */
#searchBar select {
    padding: 10px;
    border: 1px solid #ccc;
    border-radius: 5px;
}

/******addFormCtn****/
.addFormCtn {
    max-width: 600px;
    margin: 0 auto;
    padding: 20px;
    background-color: #f9f9f9;
    border-radius: 8px;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);

}

.addFormCtn h2 {
    margin-bottom: 20px;
    text-align: center;
    color: #333;
}

.dashboard-ctn h1 {
    color: #80a044;
    text-align: center
}

.addFormCtn form {
    display: grid;
    grid-template-columns: 1fr 1fr;
    grid-gap: 20px;
}

.addFormCtn label {
    font-weight: bold;
    color: #555;
}

.addFormCtn input[type="text"],
.addFormCtn input[type="email"],
.addFormCtn input[type="number"] {
    width: 100%;
    padding: 10px;
    border: 1px solid #ccc;
    border-radius: 5px;
    box-sizing: border-box;
}

.addFormCtn button[type="submit"] {
    background-color: #007bff;
    color: #fff;
    padding: 10px 20px;
    border: none;
    border-radius: 5px;
    cursor: pointer;
    font-size: 16px;
    transition: background-color 0.3s ease;
}

.addFormCtn button[type="submit"]:hover {
    background-color: #0056b3;
}

.error-message {
    color: red;
}

/*******détailscss****/
body {
    margin: 0;
    padding: 0;
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;

    color: #333;
}

.empty-ev {
    text-align: center;
    color: white;
}

#note-delete {
    border: none;
    border-radius: 5px;
    display: inline-block;
    font-size: 16px;
    transition: background-color 0.3s ease, box-shadow 0.3s ease;
    cursor: pointer;
}

#note-delete :hover::after {
    content: "Supprimer avis";
    position: fixed;
    background-color: #000;
    color: #fff;
    padding: 5px 10px;
    border-radius: 5px;
    font-size: 14px;
    white-space: nowrap;
    z-index: 9999;
    top: calc(var(--y, 0) - 30px);
    left: calc(var(--x, 0) - 50%);
    transform: translateX(10%);
    transition: opacity 0.3s ease;
}

#note-delete:hover {
    transform: scale(1.2);
}

#detail-button a {
    text-align: center;
}

.detailCtn {
    max-width: 800px;
    margin: 50px auto;
    padding: 20px;
    background-image: url("../images/dark_green.jpg");
    background-size: cover;
    background-position: center;
    border-radius: 10px;
    box-shadow: 0 0 20px rgba(0, 0, 0, 0.1);
}

.globalCtn {
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
    backdrop-filter: blur(10px) brightness(1.1);
    background-color: rgba(7, 73, 7, 0.2);
    padding: 20px;
}


.globalCtn h1 {
    text-align: center;
    color: whitesmoke;
}

.compInfo p {
    margin-bottom: 10px;
    line-height: 1.5;
    background-color: whitesmoke;
    padding: 10px;
    backdrop-filter: blur(15px);
    border-radius: 5px;
}

.compInfo {
    display: grid;
    grid-template-columns: 1fr 1fr;
    grid-gap: 15px;

}

.compProducts {
    display: flex;
    flex-direction: row;
    gap: 40px;
    text-align: center;
    justify-content: center;
}

.activity-ctn {
    text-align: center;
    color: white;
    font-size: 18px;
}

h2 {
    text-align: center;
}

.cardTitle {
    color: whitesmoke;
}

.data-content ul {
    list-style: none;
    padding: 0;
}

.data-content ul li {
    margin-bottom: 5px;
}

.company-links {
    margin-top: 20px;
    text-align: center;
}


.star-rating {
    text-align: center;
    margin-bottom: 20px;
}

.other-comments {
    padding: 0;
}

.other-comments li {
    margin-bottom: 20px;
    padding: 10px;
    border: 1px solid #ddd;
    border-radius: 5px;
    background-color: #ecf0f1;
}

.notification {
    background: #b4cf9c;
    padding: 10px;
    border-radius: 15px;
    margin-bottom: 20px;
    margin: 0 auto 20px auto;
    text-align: center;
    align-items: center;
    transition: opacity 2s;
    width: 250px;
    z-index: 999;
    font-family: 'Roboto', sans-serif;

}

.notification.hidden {
    opacity: 0;
}

@media (max-width: 768px) {
    .detailCtn {
        padding: 10px;
    }

    .cardTitle {
        font-size: 28px;
    }

    .star-rating .star {
        font-size: 20px;
    }
}


@media (max-width: 600px) {
    .container {
        padding: 10px;
    }
}